@import 'scss/config/variables';
@import 'scss/base/base';
// @import 'scss/theme/theme';
@import 'scss/layout/layout';
@import 'scss/components/header';
@import 'scss/components/home';
@import 'scss/components/buttons';
@import 'scss/components/about';
@import 'scss/components/steps';
@import 'scss/components/products';
@import 'scss/components/questions';
@import 'scss/components/contact';
@import 'scss/components/footer';
@import 'scss/components/scroll';
@import 'scss/components/breakpoints';